- sieve_grain_size = @sample.grain_size
- unless sieve_grain_size.blank?
  #grain_size.section
    %h3 Aggrigated Sieve Grain Size
    %p
      %strong mud
      =sieve_grain_size[:mud]
      \%
    %p
      %strong sand
      =sieve_grain_size[:sand]
      \%
    %p
      %strong gravel
      =sieve_grain_size[:gravel]
      \%
    %p
      %strong bulk
      =sieve_grain_size[:bulk]
      \%

- sieve_grain_size = @sample.sieve_grain_size
- unless sieve_grain_size.blank?
  #grain_size.section
    %h3 Grain size from sieve
    - sieve_grain_size.each do |s|
      %p
        = "#{s.quant_value} #{s.uom}"
        |
        = s.qualifier
        |
        = s.comments
        |
        =link_to :details, sample_sampledata_path(@sample, s)

