//%script{:type => 'text/javascript'}
//  id = [2002950,2002940,2002924]
//  for(var i =0; i < id.length; i++){$.getJSON(location+'/'+id[i]+'.json', null, function(data){$("#mytable").after("<p>"+data.object.sampleid+"</p>") });}

//#mytable

- if parent?
  - title "Samples form Survey #{link_to parent_object.surveyid || parent_object.eno, parent_object}"
- elsif params[:region_id]
  - title "Samples form Region #{link_to Region.find(params[:region_id]).name, region_path(params[:region_id])}"
-else
  - title "Samples"
- include_maps

=content_for(:head) do
  %script{:type => "text/javascript"}
    $(document).ready(function(){var map = initMap(); indexMap(location+".json")});

#map.smallmap

%table
  %tr
    %th Sampleno
    %th Sampleid
  - for sample in @samples
    %tr
      %td= h sample.sampleno
      %td= link_to "#{h sample.sampleid}", sample_path(sample)
      %td=# link_to 'Edit', edit_sample_path(sample)
      %td=# link_to 'Destroy', sample_path(sample), :confirm => 'Are you sure?', :method => :delete

%p
  =# link_to "New Sample", new_sample_path

%p
  = will_paginate @samples

- if parent_object.is_a?(Survey)
  = content_for(:sidebar_datalint) do
    %h5 Samples missing location information
    %p
      = "Missing: #{@missing_geom_samples.count rescue 0}"
      = render :partial => "missing_metadata_sample", :collection => @missing_geom_samples, :as => :missing_metadata_sample

- content_for(:sidebar) do
  - if parent_object.is_a?(Survey) 
    - if @samples.size > 0
      %h4 Download Samples 
      %p= render :partial => "samples/samples_download_links", :locals => {:survey => parent_object}
    - else
      %p.notice This survey has no samples
  -elsif params[:region_id] && @samples.size > 0
    %h4 Download Samples 
    %p= render :partial => "samples/samples_download_links_by_region", :locals => {:base_url => region_samples_path(params[:region_id])}

