- if parent?
  - title "Samples form Survey #{parent_object.surveyid || parent_object.eno}"
-else
  - title "Samples"
- include_maps

=content_for(:head) do
  %script{:type => "text/javascript"}
    $(document).ready(function(){var map = initMap(); indexMap(location+".json")});

#map.smallmap

%table
  %tr
    %th Sampleno
    %th Sampleid
  - for sample in @samples
    %tr
      %td= h sample.sampleno
      %td= link_to "#{h sample.sampleid}", sample_path(sample)
      %td= link_to 'Edit', edit_sample_path(sample)
      %td= link_to 'Destroy', sample_path(sample), :confirm => 'Are you sure?', :method => :delete

%p
  = link_to "New Sample", new_sample_path

%p
  = will_paginate @samples

= content_for(:sidebar_datalint) do
  %h5 Samples missing location information
  = render :partial => "missing_metadata_sample", :collection => @missing_geom_samples, :as => :missing_metadata_sample


