- stylesheet('openlayers', 'googlemaps'  )
- js_gmaps
- js_openlayers
- javascript('maps/initMap') 
- title "Sampleno #{@sample.sampleno.to_s}"

=content_for(:head) do
  %script{:type => "text/javascript"}
    $(document).ready(function(){var map = initMap(); showMap(location+".json")});

%p
  %strong Sampleno:
  =h @sample.sampleno
%p
  %strong Sampleid:
  =h @sample.sampleid
%p
  %strong Sample Type:
  =h @sample.sample_type
%p
  %strong Sample Parent:
  =link_to @sample.parent, sample_path(:id => @sample.parent) rescue nil
%p
  %strong Sample Children:
  - @sample.children.each do |c| 
    %p= link_to c.sampleid, c
%p
  %strong Location:
  =h @sample.geom_original.as_georuby.to_json rescue nil

#map.smallmap
  
%p
  = link_to "Edit", edit_sample_path(@sample)
  |
  = link_to "Destroy", sample_path(@sample), :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View Samples From Current Survey", survey_samples_path(@sample.survey)
  |
  = link_to "View Survey", survey_path(@sample.survey)

=content_for(:sidebar_developer) do
  %p The URI path to HTTP-GET the sample details in JSON format
  %pre
    =link_to(sample_path(@sample, :json), sample_path(@sample, :json))
  %pre
    =@sample.to_json

=content_for(:sidebar) do
  %h4 Sample Data
  %p
    Total SampleData
    =@sample.sampledata.count
  %p=link_to "SampleData for #{@sample.sampleid}", sample_path(@sample)+"/sampledata" # url_for("action"=>"index", "sample_id"=>@sample, "controller"=>"sampledata")
  %p=render :partial => "sampledata/download", :locals => {:sample => @sample}

.carbonate_content
  =render :partial => 'carbonate_content'

.comments
  - Comment.find_comments_for_commentable("Sample", @sample.id).each do |comment| 
    =indented_render 1, :partial => 'comments/comment', :object => comment
  =render :partial => "comments/form", :object => @sample
