- title "Entities"

%table
  %tr
    %th Name
  - for entity in @entities
    %tr
      %td= h entity.name
      %td= link_to 'Show', entity
      %td= link_to 'Edit', edit_entity_path(entity)
      %td= link_to 'Destroy', entity, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Entity", new_entity_path
