- title 'Sampledata'
- javascript 'jquery.pageless'

= render :partial => 'sampledata', :collection => @sampledata, :object => @sample

-content_for(:sidebar_datamanager) do
  %p= link_to "New Sampledata", new_sampledata_path

-if(@sample)
  = pageless(@sampledata.total_pages, sample_path(@sample)+"/sampledata")
-else
  = pageless(@sampledata.total_pages, url_for(:controller => "sampledata", :action => "index") )

-content_for (:sidebar) do
  %h4 Context for this data
  -if(@sample)
    %p=link_to "Sample: #{@sample.sampleid}", @sample
    %p=link_to "Survey: #{@sample.survey.surveyname}", @sample.survey
