
%h2
  %strong ENO:
  =h @survey.eno
%h3
  %strong Survey name:
  =h @survey.surveyname

#spatial_information
  #staticmap
    %p
      %strong=link_to "Show map", static_gmap(:llur => @survey.llur), :class => 'thickbox' unless @survey.llur.nil?
  %p
    %strong BBOX:
    =h @survey.bounding_box
%p
  %strong Data types:
  =h @survey.datatypes

#ip_information
  %p
    %strong Confidential until:
    =h @survey.confid_until
  %p
    %strong Release date:
    =h @survey.releasedate.strftime("%d-%b-%Y") rescue nil
  %p
    %strong Operator:
    =h @survey.operator
  %p
    %strong Owner:
    =h @survey.owner
  %p
    %strong Contractor:
    =h @survey.contractor
  %p
    %strong Vessel Type:
    =h @survey.vessel_type
  %p
    %strong Vessel:
    =h @survey.vessel

%p
  %strong UNO:
  =h @survey.uno

#temporal_range
  %p
    %strong Startdate:
    =h @survey.startdate.strftime("%d-%b-%Y") rescue nil
  %p
    %strong Enddate:
    =h @survey.enddate.strftime("%d-%b-%Y") rescue nil

%p
  %strong GAMS:
  =h @survey.gams
%p
  %strong Comments:
  =h @survey.comments

#database_dates
  %p
    %strong Entered by:
    =h @survey.enteredby
%p
  %strong Total Samples: 
  = @survey.samples.count
%p
  %strong Samples: 
  = link_to "View Samples", survey_samples_path(@survey)

%p= link_to "View All Surveys", surveys_path

.subtle{:style => "text-align:right;"}
  last updated on
  =@survey.lastupdate 
  by
  =@survey.updatedby


-content_for(:sidebar_otherdata) do
  - if @survey.gams
    - thickbox_iframe_params = '&keepThis=true&TB_iframe=true&height=600&width=800'
    %p= link_to("Data from GADA Project", @survey.gada_data_url+thickbox_iframe_params , :alt => "Geophysical Analysis and Data Access", :title=>"Geophysical Analysis and Data Access", :class=>'thickbox')
    %p= link_to("Metadata from GADA Project", @survey.gada_metadata_url+thickbox_iframe_params , :alt => "Geophysical Analysis and Data Access", :title=>"Geophysical Analysis and Data Access", :class=>'thickbox')

-content_for(:sidebar_otherdata) do
  %h4 Externl Searchs
  %p=link_to("GADA Keyword Metadata Search", "http://www.agso.gov.au:88/pmd-bin/new_searchmeta.cgi")

-content_for(:sidebar) do
  - if has_samples = @object.samples.count > 0
    %h2= link_to "View Samples", survey_samples_path(@survey)
    %h5=link_to "View Raw Grain Size Data", grain_size_survey_path
    %h4 Download Samples 
    %p= render :partial => "samples/samples_download_links", :locals => {:survey => @object}
  - else
    %h3.notice This survey has no samples


-# developer API
-content_for(:sidebar_developer) do
  %p You can make HTTP GET requests to get this Survey metadata in JSON format via the following URI:
  %pre=link_to(survey_path(@survey, :json), survey_path(@survey, :json))

-# admin controls
-if admin_is_logged_in?
  -content_for(:sidebar_datamanager) do
    %p= link_to "Edit this Survey", edit_survey_path(@survey)
    %p= link_to "Destroy this Survey", survey_path(@survey), :confirm => 'Are you sure?', :method => :delete

