#record{:class => cycle('odd','even')}
  - is_missing_metadata = survey.missing_critical_metadata?
  %span{:class => ("missing_metadata_flag" if is_missing_metadata)}= image_tag('red_flag_16x16.png', :alt => "missing metadata" , :title => "missing metadata" ) if is_missing_metadata
  %p
    %strong= link_to "#{h survey.eno}", survey_path(survey)
    ,
    = link_to "#{h survey.surveyid}", survey_path(survey) 
    ,
    = link_to "#{h survey.surveyname}", survey_path(survey)
  #summary_stats
    %span{:class => ("notice" if survey.samples.count > 0)}=link_to "#{survey.samples.count} samples", survey_samples_path(survey)


