- title "Surveys", false

- date = '1-Aug-2007'
%h2= "Marine Surveys since #{date}"
- @recent_surveys = Survey.recent(date, :include => :samples)
= render :partial => "recent", :collection => @recent_surveys, :as => :survey

%h4 This are all surveys theat were recently updated:
%table
  %tr
    %th Id
    %th Name
  - for survey in @surveys
    %tr{:class => cycle('odd','even')}
      %td= link_to "#{h survey.surveyid}",    survey_path(survey)
      %td= link_to "#{h survey.surveyname}",  survey_path(survey)

%p= will_paginate @surveys

-content_for(:sidebar) do
  %h4.notice Featured Surveys from MARS
  %p= render :partial => "featured_surveys"

-content_for(:sidebar) do
  %p= render :partial => "external_links"

-# admin controls
-if admin_is_logged_in?
  -content_for(:sidebar_datamanager) do
    .clear_button{:style => "margin-bottom: 15px;margin-top: 10px;"}
      = link_to "<span>New Survey</span>", new_survey_path, :class => :button
