- title "Survey #{h @survey.surveyid}", false

#summary_stats
  %div{:class => "block"}="GA-#{@survey.gams}" unless @survey.gams.blank?
  %span{:class=>"#{@survey.status}"}=@survey.status
  %div{:class => "block"}=link_to "#{@survey.samples.count} samples", survey_samples_path(@survey)

.section= render :partial => "attributes"
