- title "Survey #{h @survey.surveyid}"

%p
  %strong ENO:
  =h @survey.eno
%p
  %strong Survey name:
  =h @survey.surveyname
%p
  %strong Data types:
  =h @survey.datatypes
%p
  %strong Operator:
  =h @survey.operator
%p
  %strong Owner:
  =h @survey.owner
%p
  %strong Contractor:
  =h @survey.contractor
%p
  %strong UNO:
  =h @survey.uno
%p
  %strong Startdate:
  =h @survey.startdate
%p
  %strong Enddate:
  =h @survey.enddate
%p
  %strong Vessel Type:
  =h @survey.vessel_type
%p
  %strong Vessel:
  =h @survey.vessel
%p
  %strong Entered by:
  =h @survey.enteredby
%p
  %strong GAMS:
  =h @survey.gams
%p
  %strong Comments:
  =h @survey.comments
%p
  %strong BBOX:
  =h "#{@survey.nlat}, #{@survey.slat}, #{@survey.elong}, #{@survey.wlong}"
%p
  %strong Total Samples: 
  = @survey.samples.count
%p
  %strong Samples: 
  = link_to "View Samples", survey_samples_path(@survey)
%p
  = link_to "Edit", edit_survey_path(@survey)
  |
  = link_to "Destroy", survey_path(@survey), :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", surveys_path

=content_for(:sidebar_otherdata) do
  - if @survey.gams
    - thinkbox_iframe_params = '&keepThis=true&TB_iframe=true&height=600&width=800'
    %p= link_to("Data from GADA Project", @survey.gada_data_url+thinkbox_iframe_params , :alt => "Geophysical Analysis and Data Access", :title=>"Geophysical Analysis and Data Access", :class=>'thickbox')
    %p= link_to("Metadata from GADA Project", @survey.gada_metadata_url+thinkbox_iframe_params , :alt => "Geophysical Analysis and Data Access", :title=>"Geophysical Analysis and Data Access", :class=>'thickbox')

-content_for(:sidebar_otherdata) do
  %h4 Externl Searchs
  %p
    =link_to("GADA Keyword Metadata Search", "http://www.agso.gov.au:88/pmd-bin/new_searchmeta.cgi")

-content_for(:sidebar) do
  - if count = @object.samples.count > 0
    %h2= link_to "View Samples", survey_samples_path(@survey)
    %h4 Download Samples 
    %p= render :partial => "samples/samples_download_links", :locals => {:survey => @object}
  - else
    %p.notice This survey has no samples
