- title "Survey #{h @survey.surveyid}"

%p
  %strong ENO:
  =h @survey.eno
%p
  %strong Survey name:
  =h @survey.surveyname
%p
  %strong Data types:
  =h @survey.datatypes
%p
  %strong UNO:
  =h @survey.uno
%p
  %strong Startdate:
  =h @survey.startdate
%p
  %strong Enddate:
  =h @survey.enddate
%p
  %strong Vessel Type:
  =h @survey.vessel_type
%p
  %strong Vessel:
  =h @survey.vessel
%p
  %strong Entered by:
  =h @survey.enteredby
%p
  %strong GAMS:
  =h @survey.gams
%p
  %strong Comments:
  =h @survey.comments
%p
  %strong BBOX:
  =h "#{@survey.nlat}, #{@survey.slat}, #{@survey.elong}, #{@survey.wlong}"
%p
  %strong Samples: 
  = link_to "View Samples", survey_samples_path(@survey)
%p
  = link_to "Edit", edit_survey_path(@survey)
  |
  = link_to "Destroy", survey_path(@survey), :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", surveys_path

=content_for(:sidebar_otherdata) do
  - if @survey.gams
    %p
      = link_to("Data from GADA Project", @survey.gada_data_url, :alt => "Geophysical Analysis and Data Access", :title=>"Geophysical Analysis and Data Access")
    %p
      = link_to("Metadata from GADA Project", @survey.gada_metadata_url, :alt => "Geophysical Analysis and Data Access", :title=>"Geophysical Analysis and Data Access")

= content_for(:sidebar_download) do
  - # TODO: DRY up using partials between samples and surveys 
  - if count = @object.samples.count > 0
    %p Download Samples for this Survey
    %p
      = link_to image_tag('formats/csv64.png', :alt => "Download CSV"), survey_samples_path(@object, :format => :csv)
      = link_to image_tag('formats/shp64.png', :alt => "Download Shapefile"), "/coming_soon.html"
      = link_to image_tag('formats/kml64.png', :alt => "Download KML"), "/coming_soon.html"
  - else
    %p.notice This survey has no samples
  
