- title "Regions"

- for region in @regions
  %h3= h region.name
  %p= h region.coordinates
  %p= h region.corners
  %p= h region.minlon
  %p= h region.maxlon
  %p= h region.minlat
  %p= h region.maxlat
  %p= link_to 'Show', region
  %p= link_to 'Edit', edit_region_path(region)
  %p= link_to 'Destroy', region, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Region", new_region_path
