!!! Strict
%html{html_attrs}
  
  %head
    %title
      = (yield(:title_bar) || "Untitled")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application', 'pagination', 'formtastic', 'formtastic_changes', :cache => "base"
    = javascript_include_tag 'jquery', 'jquery-ui'

    = yield(:head)
  
  %body
    #container
      #banner
        = link_to image_tag('globe-sextant-icon.png', :title => "Marine Samples Database - MARS", :alt => "Marine Samples Database - MARS"), root_path
      #header
        -if show_header?
          %h1=h yield(:header) 
        -else 
          %h2=link_to "Marine Samples Database - MARS", root_path

      #nav    
        %span.user_nav
          - if current_user
            = link_to "Edit Profile", edit_user_path(:current)
            |
            = link_to "Logout", logout_path
          - else
            = link_to "Register", new_user_path
            |
            = link_to "Login", login_path
        =link_to "Surveys", surveys_path
        |
        =link_to "Samples", samples_path
        |
        =link_to "Sample Data", :controller => "sampledata", :action => "index"
        |
        =link_to "Regions", :controller => "regions", :action => "index"
      #content
        #main
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"
          - if show_title?
            %h2= yield(:title)
          = yield
        #sidebar
          = yield(:sidebar)
          = yield(:sidebar_download)
          %h4 Other Datasets in GA
          = yield(:sidebar_otherdata)
          %h4 data manager
          = yield(:sidebar_datamanager)
          %h4 data lint
          = yield(:sidebar_datalint)
          %h4 developer api
          = yield(:sidebar_developer)
      #footer
        %p 
          Seabed Mapping & Characterisation - Geoscience Australia
          | 
          =link_to "MARS API", '/api.html'
          | 
          =link_to "Twitter", '/twitter.html'
        =h yield(:footer)

